/ Episode
/ Project One

%section#intro-message.episode-section
  =image_tag  (episode.still.url)
  %header.text-center
    %h1
    %p
    %a.btn.btn-custom{:href => "https://itunes.apple.com/us/app/my-animal-soundsss/id954165347?mt=8", :role => "button"} Order #{episode.name}

  #myTabContent.tab-content
    #about.tab-pane.fade.active.in
      %p #{markdown(episode.description)}
      %hr