/ Episode
/ Project One

%section#intro-message.episode-section
  =image_tag  (episode.still.url), size: "600"
  %header.text-center
    %h1
    %p
    %a.btn.btn-custom{:href => episode.content_url, :role => "button"} Order #{episode.name}

  #myTabContent.tab-content
    #about.tab-pane.fade.active.in
      %p #{markdown(episode.description)}
      %hr