html, body {
	height: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Advent Pro', sans-serif;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* http://stackoverflow.com/questions/3936697/html-position-an-image-in-a-new-line */
img { display:block; } 

/* Move down content because we have a fixed navbar that is 50px tall */
p, li {
  font-size: 18px;
}

ul.nav {
	font-weight: bold;
  padding-top: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

.wideeye {
  font-family: 'Coming Soon', cursive;
  font-size: 28px;
  line-height: 1.5em;
}

.wideeye_box {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  border: 1px solid;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  // margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#containerDiv {
  margin-top: 10px;
}