%h1 About Wideeyekids
%p Wideeyekids is all about making kids interesting by opening their eyes (wide!) to all the curious things small and big all around us. If you have any ideas or questions, please drop us a note at support at wideeyekids dot com.  
